<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="img/faviconimg.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

  {{!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> --}}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <a href="https://wa.me/9518330346?text=" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/static/css/style.css">
  <title>SmartByte</title>
  
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">


  <!-- BOTTOM NAV -->
  <nav class=" navbar navbar-expand-lg navbar-light bg-white fixed-top">















    <div class="container col-12">
      <a class="navbar-brand" href="#"><img
          src="http://drive.google.com/uc?export=view&id=1MDMnfxOtVV_O_8X0r89Tjuylra6YWocg"></a>
      <!-- <a class="navbar-brand" href="#">SmartByte<span class="dot">.</span></a> -->
      <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false" role="img">
          <title>Menu</title>
          <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10"
            d="M4 7h22M4 15h22M4 23h22"></path>
        </svg>
        <!-- <span class="navbar-toggler-icon"></span> -->
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#activity">Activities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#reviews">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#courses">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#branch">Branch</a>
          </li>



        </ul>
        <a href="/" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-brand ms-lg-3">Contact</a>
      </div>
    </div>
  </nav>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="container-fluid">
            <div class="row gy-4">
              <div class="col-lg-4 col-sm-12 bg-cover"
                style="background-image: url(/static/images/c2.jpg); min-height:300px;">
                <div>

                </div>
              </div>
              <div class="col-lg-8">
                <form class="p-lg-5 col-12 row g-3" action="https://formspree.io/f/xbjbwnza" method="post">
                  <div>
                    <h1>Get Enquiry</h1>
                    <p>Fell free to contact us and we will get back to you as soon as possible</p>
                  </div>
                  <div class="col-lg-6">
                    <label for="userName" class="form-label">First name</label>
                    <input type="text" class="form-control" placeholder="Ex.Divya" name="firstname" id="fName"
                      aria-describedby="emailHelp">
                  </div>
                  <div class="col-lg-6">
                    <label for="userName" class="form-label">Last name</label>
                    <input type="text" class="form-control" placeholder="Ex.Banode" name="lastname" id="lName"
                      aria-describedby="emailHelp">
                  </div>
                  <div class="col-12">
                    <label for="userName" class="form-label">Email address</label>
                    <input type="email" class="form-control" placeholder="divyabanode@example.com" name="email"
                      id="email" aria-describedby="emailHelp">
                  </div>
                  <div class="col-12">
                    <label for="userName" class="form-label">Contact Number</label>
                    <input type="number" class="form-control" placeholder="+91 12345 67890" name="phno" id="cno"
                      aria-describedby="emailHelp">
                  </div>
                  <div class="col-12">
                    <label for="exampleInputEmail1" class="form-label">Write Enquiry</label>
                    <textarea name="textarea" placeholder="Enquiry" class="form-control" name="massage" id="msg"
                      rows="4"></textarea>
                  </div>

                  <div class="col-12">
                    <button type="submit" class="btn btn-brand">Send Message</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  {{!--
  *******************************************************************************************************************
  --}}
  <div class="container-fluid">
    <div class="card" style="margin-top:7px; 
  border:none;">
      <div class="row no-gutters">
        <div class="col-md-4 mt-5">
          <img class="courseimg" src="static/images/appd.jpg" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">App Development</h1>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content.
              This content is a little bit longer.
              This is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.
              This is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.
              This is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in
              to
              additional content.
              This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in
              to
              additional content.
              This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in
              to
              additional content.
              This content is a little bit longer.
            </p>
            {{!-- <p class="card-text"><small class="text-muted">Enroll Now</small></p> --}}
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- ********************************* --}}
  <div class="container-fluid-left col-lg-6 col-sm-6 mt-2" x>
    <h1 style="margin-left: 20px;">Syllabus</h1>

    <div id="accordion">
      <div class="card" style="border:none;">
        <div class="card-header">
          <a data-bs-toggle="collapse" href="#collapseOne" style="text-decoration:none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>&nbsp;&nbsp;&nbsp;&nbsp;
            what is app Development
          </a>
        </div>
        <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
          </div>
        </div>
      </div>
      <div class="card" style="border:none;">
        <div class="card-header">
          <a data-bs-toggle="collapse" href="#collapseTwo" style="text-decoration:none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>&nbsp;&nbsp;&nbsp;&nbsp;
            Syllabus
          </a>
        </div>
        <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
          <div class="card-body">
            <li>python</li>
            <li>core python</li>
            <li>project work</li>
            <li>assigment</li>
          </div>
        </div>
      </div>

    </div>
  </div>
  {{!-- ************************************************************** --}}
  <div class="col-lg-12 d-grid gap-2 text-center mt-5">
    <h1><strong>Keep getting updates of all events of AutoDice</strong></h1>
    <h3>Join our WhatsApp Announcement Group</h3>
    <a href="https://autodice.in/join" class="btn btn-success" role="button" data-bs-toggle="button">
      <i class="fa fa-whatsapp"></i>&nbsp;&nbsp;Join WhatsApp Group </a>
  </div>
  {{!-- ********************************certificate page**************** --}}
  <div class="contanier-fluid row col-12 mt-5">
    <center>
      <h1><strong>Certificate</strong></h1>
    </center>
    <br>
    <p style="font-size: 16px; margin:auto; text-align:center; max-width: 800px;">
      All participants will be presented with a certificate of course completion and internship.
    </p>

    <div class="container-fluid">
      <div class="row no-gutters shadow-lg">
        <div class="col-md-6 d-md-block mt-5">
          <center>
            <h1>Course Certificate</h1>
          </center>
          <img src="/static/images/certificate.jpeg" class="img-fluid" style="min-height:70%; border-radius: 15px;" />
        </div>
        <div class="col-md-6 mt-5">
          <center>
            <h1>Internship Certificate</h1>
          </center>
          <img src="/static/images/certificate.jpeg" class="img-fluid" style="min-height:70%; border-radius: 15px;" />
        </div>
      </div>
    </div>
  </div>
   <div class="col-lg-12 d-grid gap-2 text-center mt-5">
    <a href="https://autodice.in/join" class="btn btn-brand" role="button" data-bs-toggle="button">
     Enroll For The session </a>
  </div>
      {{!-- ************************************************** --}}
      {{>details detailsPage=detailsPage}}
      {{!-- *************************************hightlight review********************************** --}}
      <div style="padding-top: 70px; background-color: #fdfdfd; padding-bottom: 50px;">
  <div class="container">
      <center><h1><strong>Listen to what Industry experts want to say</strong></h1></center><br>
      <p style="max-width: 800px; text-align:center; font-size: 16px; margin: auto;">
          Simplicity is our greatest Sophistication. This is largely possible through our versatile team of Industry experts. Listen to what Industry experts want to say...
      </p><br><br>
      <div class="expert-testimonial-large">
          <div class="row" style="padding: 10px;">
              <div class="col-sm-7">
                  <div class="comment-bubble comment-bubble-left">
                      <p>"Technology is improving at speeds that are almost impossible to catch. However, the skills that industry requires are aptly imparted through the internship and training program by Autodice. I appreciate the experience that Ajay brings to his training sessions. <br> Autodice is definitely a  'Go-to' platform for anyone who is looking to expand his/her skill sets and set the mark in the  IT industry."</p>
                      <h3><strong>Manan Chavda</strong></h3>
                      <h4><strong>Software Developer at Barclays Global Services Center</strong></h4>    		 
                  </div>
            </div>
              <div class="col-sm-1"></div>
                  <div class="col-sm-3">
                      <img src="static/images/Manan Chavda.jpeg" class="img-circle img-responsive">
                  </div>

          </div>
          <div class="clearfix"></div><br><br>
          <div class="row" style="padding: 10px;">
                  <div class="col-sm-3">
                      <img src="static/images/Monu Shetty.jpg" class="img-circle img-responsive">
                  </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-7">
                  <div class="comment-bubble comment-bubble-right">
                      <p>"We as Industry incumbents observe a huge knowledge deficit in the Indian Educational Ecosystem. Training Partners like Autodice help us in developing courses and providing training and Internships to students. They are indeed the required catalyst for Institutes as well as Industries to inculcate innovation and behavior of applied learning. <br>Autodice is one of our major partner to imbibe the required knowledge for making the students ready to contribute on the job effectively from day one."</p>
                      <h3><strong>Monu Shetty</strong></h3>
                      <h4><strong>Co-Founder at AGS Ingenuity</strong></h4>    		 
                  </div>
            </div>
          </div>
          <div class="clearfix"></div><br><br>
          <div class="row" style="padding: 10px;">
              <div class="col-sm-7">
                  <div class="comment-bubble comment-bubble-left">
                      <p>"AutoDice is doing a great job in training students via internships while helping them get one step closer to becoming Industry-ready."</p>
                      <h3><strong>Radhakrishna Kamath</strong></h3>
                      <h4><strong>MS from IIT Chennai</strong></h4>    		 
                  </div>
              </div>
              <div class="col-sm-1"></div>
                  <div class="col-sm-3">
                      <img src="static/images/Radhakrishna Kamath.jpeg" class="img-circle img-responsive">
                  </div>
            </div>
          <div class="clearfix"></div><br><br>
          <div class="row" style="padding: 10px;">
                  <div class="col-sm-3">
                      <img src="static/images/Rajendra Sabat.jpeg" class="img-circle img-responsive">
                  </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-7">
                  <div class="comment-bubble comment-bubble-right">
                      <p>"There is a huge gap between what industry expects from freshers and what our education system teaches us, I think autodice is doing a great job by making students ready for what is out there."</p>
                      <h3><strong>Rajendra Sabat</strong></h3>
                      <h4><strong>System Engineer at Infosys</strong></h4>    		 
                  </div>
            </div>
          </div>

      </div>
      <div class="expert-testimonial-small">
          <div class="row" style="padding: 10px;">
                      <img src="static/images/Manan Chavda.jpeg" class="img-circle img-responsive"><br><br>
                  <div class="comment-bubble">
                      <center>
                      <h3><strong>Manan Chavda</strong></h3>
                      <h4><strong>Software Developer at Barclays Global Services Center</strong></h4>    
                      </center><br>
                      <p>"Technology is improving at speeds that are almost impossible to catch. However, the skills that industry requires are aptly imparted through the internship and training program by Autodice. I appreciate the experience that Ajay brings to his training sessions. <br> Autodice is definitely a  'Go-to' platform for anyone who is looking to expand his/her skill sets and set the mark in the  IT industry."</p>
                  </div>
                  </div>

          <div class="clearfix"></div><br><br>
          <div class="row" style="padding: 10px;">
                      <img src="static/images/Monu Shetty.jpg" class="img-circle img-responsive"><br><br>
                  <div class="comment-bubble">
                      <center>
                          <h3><strong>Monu Shetty</strong></h3>
                          <h4><strong>Co-Founder at AGS Ingenuity</strong></h4>    		 
                      </center><br>
                      <p>"We as Industry incumbents observe a huge knowledge deficit in the Indian Educational Ecosystem. Training Partners like Autodice help us in developing courses and providing training and Internships to students. They are indeed the required catalyst for Institutes as well as Industries to inculcate innovation and behavior of applied learning. <br>Autodice is one of our major partner to imbibe the required knowledge for making the students ready to contribute on the job effectively from day one."</p>
                  </div>
          </div>
          <div class="clearfix"></div><br><br>
          <div class="row" style="padding: 10px;">
                      <img src="static/images/Radhakrishna Kamath.jpeg" class="img-circle img-responsive"><br><br>
                  <div class="comment-bubble">
                      <center>
                          <h3><strong>Radhakrishna Kamath</strong></h3>
                          <h4><strong>MS from IIT Chennai</strong></h4>    		 
                      </center><br>
                      <p>"AutoDice is doing a great job in training students via internships while helping them get one step closer to becoming Industry-ready."</p>
                  </div>
            </div>
          <div class="row" style="padding: 10px;">
                      <img src="static/images/Rajendra Sabat.jpeg" class="img-circle img-responsive"><br><br>
                  <div class="comment-bubble">
                      <center>
                          <h3><strong>Rajendra Sabat</strong></h3>
                          <h4><strong>System Engineer at Infosys</strong></h4>    		 
                      </center><br>
                      <p>"There is a huge gap between what industry expects from freshers and what our education system teaches us, I think autodice is doing a great job by making students ready for what is out there."</p>
                  </div>
            </div>
  </div>
</div>
</div>
{{!-- ************************************************************************************************************** --}}
<div class="row eventsgallery eventsgallery-small" style="margin-top:30px;">
    <center><h1><strong>Glimpse of AutoDice's Courses and Workshops</strong></h1></center><br>
    <p style="text-align:center; font-size:16px; max-width:800px; margin:auto;">
    We are regularly invited by various Training institutes for sharing our Technological Expertise in the form of Expert lectures and Training programmes. Here is a timeline of our Recent Courses and Workshops.	   	        
    </p>
    <br>
    <br>
    
{{!-- <div id="eventsCarousel2" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="item active">
    <img src="static/images/Flutter at Don Bosco Institute of Technology.jpeg" style="width:100%;">
    <h4>Flutter at Don Bosco Institute of Technology</h4>
  </div>
  <div class="item">
         <img src="static/images/Game Development at A C Patil College of Engineering.jpeg" style="width:100%;">
        <h4>Game Development at A C Patil College of Engineering</h4>
  </div>
  <div class="item">
         <img src="static/images/Game Development at Don Bosco Institute of Technology.jpeg" style="width:100%;">
        <h4>Game Development at Don Bosco, Kurla</h4>
  </div>
  <div class="item">
        <img src="static/images/Guest Lecturing at Father Agnel, Vashi.jpeg" style="width:100%;">
        <h4>Guest Lecturing at Father Agnel, Vashi</h4>
  </div>
  <div class="item">
        <img src="static/images/Guest Lecturing at K J Somaiya College of Engineering and Information Technology.jpeg" style="width:100%;">
            <h4>Guest Lecturing at K J Somaiya College, Sion</h4>
  </div>
  <div class="item">
        <img src="static/images/IOT at A C Patil College of Engineering.jpeg" style="width:100%;">
        <h4>IOT at A C Patil College of Engineering</h4>
  </div>
  <div class="item">
        <img src="static/images/Robotics at Indira Gandhi College of Engineering.jpeg" style="width:100%;">
        <h4>Robotics at Indira Gandhi College of Engineering</h4>
  </div>
  <div class="item">
        <img src="static/images/Game Development at Don Bosco Institute of Technology.jpeg" style="width:100%;">
        <h4>Game Development at Don Bosco, Kurla</h4>
  </div> --}}

<!-- Left and right controls -->

</div>
</div>
    
</div>
<br><br>
<div class="col-lg-12 d-grid gap-2 text-center mt-5">
    <a href="https://autodice.in/join" class="btn btn-brand" role="button" data-bs-toggle="button">
     Enroll For The session </a>
  </div>

  
      



        
        
        
        
        
        
        
        
        
        
        
        </div>
    </div>

    </div>
</section>


</body>

</html>




















{{!--
******************************************************************************************************************* --}}







{{!--
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/app.js"></script> --}}

{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="/static/js/details.js"></script>



</body>

</html>