<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
ul ol {
   
}


</style>
</head>
<body style="background-color:">

<h2>Change Bullet Color of List Items</h2>

<ul>
  <li>Adele</li>
  <li>Agnes</li>
  <li>Billy</li>
  <li>Bob</li>
</ul>
<ul style="list-style-type:square;">
    <li>Adele</li>
    <li>Agnes</li>
    <li>Billy</li>
    <li>Bob</li>
</ul>
<ol type="A">
    <li>Adele</li>
    <li>Agnes</li>
    <li>Billy</li>
    <li>Bob</li>
  </ol

</body>
</html>
